<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="/style.css"
  </head>
  <body>

<%= @player_1.name%>, select your move!
<p>
<p>
<form action="/play" method="post">
 
  <div id="rockpaperscissors">
    <div class="icon-container">
      <button type="submit" name="move" value="rock" id="rock"><img src="https://img.icons8.com/color/48/000000/hand-rock.png"/></button>
      <p> Rock </p>
    </div>
    <div class="icon-container">
      <button type="submit" name="move" value="scissors" id="scissors"><img src="https://img.icons8.com/color/48/000000/hand-scissors--v1.png"/></button>
      <p>Scissors</p>
    </div>
    <div class="icon-container">
      <button type="submit" name="move" value="paper" id="paper"><img src="https://img.icons8.com/color/48/000000/hand.png"/></button>
      <p>Paper</p>
    </div>
  </div>
  <%# <input type="submit" name="choice" value="rock">
  <input type="submit" name="choice" value="paper">
  <input type="submit" name="choice" value="scissors"> %>
</form>

